body, html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.top-frame {
  background-color: #f4f6fb;
}

.top {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 88px;
  padding: 10px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top .logo {
  display: inline-block;
  width: 100px;
  height: 50px;
  background: center center no-repeat url('/img/logo-short.png');
  background-size: contain;
}

.top .main-menu .link {
  display: inline-block;
  padding: 0 16px;
}

.top .main-menu .link.selected {
  font-weight: bold;
}

.languages-frame {
  margin: 0 auto;
  max-width: 1200px;
  background-color: red;
}

.languages-frame .languages {
  float: right;
  padding: 0 20px;
}

.languages-frame .languages a {
  display: inline-block;
  padding: 2px;
}

.languages-frame .languages a.selected {
  font-weight: bold;
}

.content {
  max-width: 1400px;
  margin: 30px auto;
}

.footer {
  height: 200px;
}

/* BUTTON *********************************************************************/
.button {
  display: inline-block;
  font-weight: bold;
  line-height: 18px;
  font-size: 14px;
  text-align: center;
  color: #3C64B1;
  border: solid 2px #3C64B1;
  padding: 15px 20px;
}

.button-action {
  color: white;
  background-color: #3C64B1;
}

.button-noborder {
  border: 0;
}

/* Versions */
.versions {

}

.versions a {
  padding: 0 5px;
}

.versions a.selected {
  font-weight: bold;
}

/* TREE                        */

.tree {
  float: left;
  padding: 20px;
  width: 280px;
  background-color: #C9D1D4;
  box-sizing: border-box;
}

.tree .item {
}

.tree .item a {
  display: block;
  border-left: solid transparent 4px;
  padding: 8px;
  text-decoration: none;
  color: black;
}

.tree .item.selected a {
  color: #3C64B1;
  border-color: #3C64B1;
  font-weight: bold;
}

.tree .item a:hover {
  background-color: rgba(232, 237, 235, 0.12);
}

.tree > .item a {
  padding-left: 16px;
}

.tree .children .item a {
  padding-left: 32px;
}

.tree .children .children .item a {
  padding-left: 48px;
}

.tree .children .children .children .item a {
  padding-left: 64px;
}

.tree .children .children .children .children .item a {
  padding-left: 80px;
}

.tree .children .children .children .children .children .item a {
  padding-left: 96px;
}

.tree .children .children .children .children .children .children .item a {
  padding-left: 112px;
}

.tree .children .children .children .children .children .children .children .item a {
  padding-left: 128px;
}

.tree .children {
  /*padding-left: 16px;*/
}

.tree .children {
  display: none;
}

.tree .item.active + .children {
  display: block;
}


/* Index **********************************************************************/
.index {
  float: right;
  position: sticky;
  top: 0;
  padding-top: 16px;
  margin-top: 16px;
  min-width: 200px;
  background-color: white;
  margin-left: 20px;
}

.index a {
  display: block;
  text-decoration: none;
  color: #7D818B;
  padding: 4px 8px;
}

.index .index-h2 a {
  padding-left: 16px;
}

.index .index-h3 a {
  padding-left: 32px;
}

.index .index-h4 a {
  padding-left: 48px;
}

.index .index-h5 a {
  padding-left: 64px;
}

.index .index-h6 {
  padding-left: 80px;
}

.index a {
  border-left: solid #bec0c5 2px;
}

.index a.active {
  border-left: solid #3C64B1 4px;
  border-radius: 0px;
  margin-left: -1px;
  color: #3C64B1;
  font-weight: bold;
}

.index a:hover {
  zborder-left: solid white 3px;
  zmargin-left: -1px;
  color: black;
  text-decoration: underline;
}

/* Breadcrumb *****************************************************************/
.breadcrumb {
  display: none;
}

/* Document *******************************************************************/
.document {
  max-width: 700px;
  padding-top: 30px;
  font-size: 18px;
  margin-left: 300px;
}

.document h1,
.document h2,
.document h3,
.document h4,
.document h5,
.document h6 {
  color: #373F41;
  margin: 0;
  padding: 0;
}

.document code {
  overflow: hidden;
  white-space: pre-wrap;
}

.document p {
  margin: 0;
  line-height: 25px;
}

.document h1 {
  font-size: 44px;
  padding-bottom: 40px;
}

.document h2 {
  font-size: 32px;
  padding-top: 35px;
  padding-bottom: 10px;
}

.document h3 {
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 10px;
}

/* Hero ***********************************************************************/
.hero {
  text-align: center;
  padding-top: 170px;
  padding-bottom: 160px;
  background-image: url('/img/hero-background.jpg');
  background-size: cover;
  background-position: center bottom;
}

.hero h1 {
  margin: 0;
  font-size: 44px;
  color: #373F41;
}

.hero p {
  font-size: 24px;
  color: #737B7D;
  max-width: 730px;
  margin: 40px auto 50px;
}

/* home **********************************************************************/
.home {
  max-width: 1200px;
  margin: 0 auto;
}

.home .big {
  color: #373F41;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 70px;
}

.home .big2 {
  color: #737B7D;
  text-align: center;
  font-size: 16px;
  padding-bottom: 110px;
  margin: 0 auto;
  max-width: 747px;
}

.home .minicard {
  width: 49%;
  display: inline-block;
  padding: 20px;
  padding-top: 64px;
  box-sizing: border-box;
  background: no-repeat url('/img/home-icon-1.png');
  background-position: 16px 0px;
}

.home .minicard:nth-child(2) {
  background-image: url('/img/home-icon-2.png');
}

.home .minicard:nth-child(3) {
  background-image: url('/img/home-icon-3.png');
}

.home .minicard:nth-child(4) {
  background-image: url('/img/home-icon-4.png');
}

.home .block1,
.home .block2 {
  display: inline-block;
  width: 50%;
}

.home .block2 {
  height: 390px;
  vertical-align: bottom;
}

/* HOME page */
body[url="home"] .content {
  max-width: 100%;
  margin-left: 0;
  margin-top: 0;
}

body[url="home"] .content .document {
  max-width: 100%;
  margin-left: 0;
  padding: 0 !important;
}

body[url="home"] .tree {
  display: none;
}

body[url="home"] .index {
  display: none;
}
/* MOBILE */

@media screen and (max-width: 1080px) {
  .top {
    padding: 0;
  }
  .content {
    padding-left: 0;
  }
  .content {
    padding-left: 0;
  }
  .content .document {
    margin: 0;
    padding: 16px;
  }
  .tree {
    float: none;
    width: auto;
  }
  .index {
    display: none;
    float: none;
    position: static;
  }
}
